.reg {
    font-size: 35px;
    display: flex;
    justify-content: center;
    margin-bottom: 131px;
    flex-wrap: nowrap;
  
  }
  label{
    color: white;
    margin-right: 15px;
    margin-left: 25px;
    text-shadow: black 5px 0 10px;
  }

  .user{
    padding: 10px;
    border-radius: 8px;
    background: #F2994A;
  }
 .user::placeholder{
  color: black;
  font-weight: 600;
font-size: 15px;
background: #F2994A;
  }
  .password{ padding: 10px;
    border-radius: 8px;
    background: #F2994A;
  }
 .password::placeholder{
  color: black;
  font-weight: 600;
  background: #F2994A;
font-size: 15px;
  }

.boton{
  background: #F2994A;padding: 10px;
  border-radius: 8px;
  margin-left: 15px;
  }
  .boton:hover{
    font-weight: 700;
    background: #F2994A;
  }

  .labels{
    margin-bottom: -3%;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 35px;
    text-shadow: black 5px 0 10px;
  }
  .default {
    margin-bottom: 251px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
        }
  .contactform{
  width: 20%;
  padding: 1.5em 1em;
          border-radius: 0.3rem;
          font-size: 1.2rem;
        }
  .contactform input,
  .contactform textarea,
  .contactform button {
  
    resize: none;
    width: 100%;
    padding: .5rem .3rem;
    margin: 1em 0 0;
    border-radius: 0.3rem;
    background-color: white;
    font-size: 1.5rem;
  }
  .links {
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    margin-top: 15px;
    padding: 11px;
    border-radius: 4px;
    background: #F2994A;
  }
  
  .links a {
    text-decoration: none;
    color: black;
  }
  
