.reg {
  font-size: 35px;
  display: flex;
  justify-content: center;
  margin-bottom: 131px;
  flex-wrap: nowrap;
}
.user {
  padding: 10px;
  border-radius: 8px;
  background: #f2dad4;
}
.user::placeholder {
  color: black;
  font-size: 15px;
  background: #f2dad4;
}
.password {
  padding: 10px;
  border-radius: 8px;
  background: #f2dad4;
}
.password::placeholder {
  color: black;
  background: #f2dad4;
  font-size: 15px;
}

.boton {
  cursor: pointer;
  background: #f5f5f5;
  padding: 10px;
  border-radius: 8px;
  margin-left: 15px;
}
.contactform input {
  margin-bottom: 25px;
  margin-top: 25px;
}
.boton:hover {
  background: #f2dad4;
  transition: all 0.8s ease;
}
.imagen {
  cursor: pointer;
  background-color: #f2dad4;
}

.labels {
  color: black;
  font-size: 35px;
  margin: 0;
  font-family: "Roboto";
}
.default {
  margin-bottom: 251px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.contactform {
  background-color: #e0e0e0;
  width: 35%;
  padding: 1.5em 1.5em;
  border-radius: 0.3rem;
  font-size: 1.2rem;
}
.contactform input {
  margin-bottom: 25px;
  margin-top: 25px;
  resize: none;
  width: 100%;
  font-size: 1.5rem;
}
.contactform textarea,
.contactform button {
  resize: none;
  width: 100%;
  padding: 0.5rem 0.3rem;
  margin: 1em 0 0;
  border-radius: 0.3rem;
  font-size: 1.5rem;
}
.links {
  cursor: pointer;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  margin-top: 15px;
  padding: 11px;
  border-radius: 4px;
  background: #f5f5f5;
  border: 2px solid black;
}

.links a {
  text-decoration: none;
  color: black;
}
.links:hover {
  font-weight: 700;
  transition: all 0.5s ease;
  background: #f2dad4;
}

@media only screen and (max-width: 768px) {
  .default {
    display: flex;
    width: 80%;
  }
  .contactform {
    width: 80%;
    padding: 1.5em 1em;
    border-radius: 0.3rem;
    font-size: 1.2rem;
  }
  .contactform input,
  .contactform textarea,
  .contactform button {
    font-size: 15px;
    resize: none;
    width: 100%;
    /* padding: .5rem .3rem; */
    margin: 1em 0 0;
    border-radius: 0.3rem;
    font-size: 1.5rem;
  }
  h1 {
    font-size: 30px;
  }
}
