.login {
  margin-top: -30px;
    font-size: 35px;
    display: flex;
    justify-content: center;
    margin-bottom: 230px;
    flex-wrap: nowrap;
  
  }
  .links a {
    color: white;
    margin-top: 48px;
    font-size: 40px;
    text-decoration: none;
    display: flex;
  justify-content: center; 
   text-shadow: black 5px 0 10px;

  }
  .links a:hover{
    color: #8e9eab;
    transition: all 0.8s ease;
    font-weight: 600;
    text-shadow: black 5px 0 10px;
  }
  .labels{
    display: flex;
    justify-content: center;
    color: white;
    font-size: 35px;
    text-shadow: black 5px 0 10px;
  }

  .user{
    padding: 10px;
    border-radius: 8px;
    background: #F2994A;
  }
 .user::placeholder{
  color: black;
  font-weight: 600;
font-size: 15px;
background: #F2994A;
  }
  .password{ padding: 10px;
    border-radius: 8px;
    background: #F2994A;
  }
 .password::placeholder{
  color: black;
  font-weight: 600;
font-size: 15px;
background: #F2994A;
  }

.boton{
  background: #F2994A;
  padding: 10px;
  border-radius: 8px;
  margin-left: 15px;
  }
  .boton:hover{
    font-weight: 700;
    background: #F2994A;
  }
  .default {
    margin-bottom: 251px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
        }
  .contactform{
  width: 50%;
  padding: 1.5em 1em;
          border-radius: 0.3rem;
          font-size: 1.2rem;
        }
  .contactform input,
  .contactform textarea,
  .contactform button {
  
    resize: none;
    width: 100%;
    padding: .5rem .3rem;
    margin: 1em 0 0;
    border-radius: 0.3rem;
    font-size: 1.5rem;
  }
  @media only screen and (max-width: 768px) {
    .default {
      display: flex;
      width: 80%;
 }
 .contactform{
   width: 80%;
   padding: 1.5em 1em;
           border-radius: 0.3rem;
           font-size: 1.2rem;
         }
 .contactform input,
 .contactform textarea,
 .contactform button {
 
  font-size: 15px;
   resize: none;
   width: 100%;
   /* padding: .5rem .3rem; */
   margin: 1em 0 0;
   border-radius: 0.3rem;
   font-size: 1.5rem;
 }
 h1{
  font-size: 30px;
 }
    }