.publicaciones {
  width: 30%;
  margin: 10px 2%;
  text-align: center;
  color: black;
  margin-bottom: 60px;
}
.button1{
  border: 2px solid black;
  width: 100px;
  height: 50px;
  font-weight: 600;
  padding: 15px;
  border-radius: 6%;
  background: white;
  text-decoration: none;
  margin-left: 15px;
}
.button1:hover {
  background: #c8a0b5;
  transition: all 0.8s ease;
}
.seccion {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.seccion1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
img {
  width: 100%;
  height: auto;
  margin-top: 3px;
}
.imagenes img { 

  border-radius: 3%;
  object-fit: cover;
  object-position: center;
  aspect-ratio: 4/4;
}
.imagen img {
  object-fit: cover;
  object-position: center;
  border-radius: 5px;
  width: 350px;
  height: 350px;
}

.titulo {
  color: black;
  font-size: 31px;
  text-align: center;
  margin-bottom: 20px;
}

@media only screen and (max-width: 981px) {
  .valoraciones {
    padding: 15px 3%;
    width: 50%;
  }

  .titulo {
    margin-top: -15px;
    font-size: 26px;
    text-align: center;
  }
  .imagen img {
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
  }
  .publicacion{
    width: 50%;
  }
}

.publicacion {
  width: 25%;
  margin: 10px 1%;
  text-align: center;
  color: black;
  font-style: italic;
  font-size: 25px;

}
@media only screen and (max-width: 768px) {
  .publicaciones {
    font-size: 13px;
    width: 80%;
    margin: 10px 10%;
  }
  .imagen img {
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
    width: 350px;
    height: 350px;
  }
  .publicacion{
    font-size: 18px;
    margin: 10px 10%;
  }
  .seccion1 {
    justify-content: center;
    display: flex;
  }
  h2{
    text-align: center;
   font-size: 26px;
  }
}
@media only screen and (max-width: 568px){
  .publicacion{
    width: 90%;
  }
}
.paginado{
  display: flex;
  justify-content: center;
  /* justify-content: space-around; */
}
.paginado button{
  margin-left: 18%;
  margin-right: 18%;
  padding: 10px;
  border: 0;
  border-radius: 7%;
  background-color:white;
  font-size: 20px;
  font-style: italic;
  color: black;
  border: 1px solid black;
  cursor: pointer;
  transition: all .3s linear;

}
.paginado button:hover{
  background-color: #c8a0b5;
}
.titulo1{
  font-size: 2em;
}
.linkpu{
  text-decoration: none;
  color: black;
  font-style: italic;
  font-weight: 700;
  font-size: 35px;
  justify-content: center;
  display: flex;
  margin-bottom: 25px;
  margin-top: 10px;
}
.linkpu:hover{
  color: #c8a0b5;
}